server:
  port: 2333
  address: 0.0.0.0

lavalink:
  server:
    password: "youshallnotpass"
    sources:
      youtube: true
      soundcloud: true
      spotify: false
      deezer: false
    bufferDurationMs: 400
    frameBufferDurationMs: 5000

logging:
  level:
    root: INFO
